.qr-container {
  width: fit-content;
}

.qr-head {
  /* font-family: Aileron Regular; */
  font-size: 1.125rem;
  line-height: 18px;
  margin-bottom: 25px;
}

.qr-code {
  /* background-color: var(--main-bg-primary-alt); */
  border-radius: 2px;
  height: auto;
  min-height: 230px !important;
  min-width: 400px !important;
  padding: 25px;
  width: fit-content;
}

.width-80 {
  width: 80% !important;
}
.card-bg {
  background-color: #f6eee3;
  border: 1px solid var(--color-line);
}

.btn-bg {
  background-color: var(--color-line);
}

.text-brown {
  color: #734116 !important;
}
.before\:text-brown::before {
  content: var(--tw-content);
  background-color: #734116;
}

/* business registration */

.business-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #fff;
}

.dropdownArrow {
  position: absolute;
  top: 42px !important;
  right: 1rem !important;
  cursor: pointer;
}

select option:hover {
  background-color: #d9bda5 !important;
}

/* my profile */
.business-qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9bda5;
  border-radius: 10px;
}
.business-qr-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

@media (min-width: 550px) and (max-width: 639px) {
  .business-container {
    width: 80% !important;
  }
}
@media (max-width: 639px) {
  .business-container {
    min-height: 100vh !important;
  }
}

@media (min-width: 639px) and (max-width: 1100px) {
  .business-container {
    width: 50% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1350px) {
  .business-container {
    width: 50% !important;
  }
}

@media (max-width: 540px) {
  .business-qr-container {
    padding: 30px;
  }
}

body .rdt_Pagination select {
  background-color: #fff !important;
}

.category-item:hover {
  background-color: #f6eee3 !important;
}

[data-theme="dark"] .text-secondary {
  color: #d8bd9f;
}
[data-theme="dark"] .hover\:text-secondary:hover {
  --tw-text-opacity: 1;
  color: #d8bd9f;
}

[data-theme="dark"] .text-secondary {
  color: #d8bd9f;
}

[data-theme="dark"] .business-container {
  background-color: #2d3238;
  color: #2d3238;
}
