:root {
  --primary-color: #f6eee3;
  --color-line: #d9bda5;
  --spacing-unit: 8px;
  --button-bg: #d9bda5;
  --primary-text-dark: #d9bda5;
  --background-dark: #2d3238;
  --dark-brown: #734116;
}
.qr-container {
  width: fit-content;
}

.qr-head {
  /* font-family: Aileron Regular; */
  font-size: 1.125rem;
  line-height: 18px;
  margin-bottom: 25px;
}

.qr-code {
  /* background-color: var(--main-bg-primary-alt); */
  border-radius: 2px;
  height: auto;
  min-height: 230px !important;
  min-width: 400px !important;
  padding: 25px;
  width: fit-content;
}

.width-80 {
  width: 80% !important;
}
.card-bg {
  background-color: #f6eee3;
  border: 1px solid var(--color-line);
}

.btn-bg {
  background-color: var(--color-line);
}

.text-brown {
  color: var(--dark-brown) !important;
}
.before\:text-brown::before {
  content: var(--tw-content);
  background-color: var(--dark-brown);
}

/* business registration */

.business-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #fff;
}

.dropdownArrow {
  position: absolute;
  top: 42px !important;
  right: 1rem !important;
  cursor: pointer;
}

select option:hover {
  background-color: var(--primary-text-dark) !important;
}

/* my profile */
.business-qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-text-dark);
  border-radius: 10px;
}
.business-qr-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.modal-container {
  background-color: #fff;
  border-radius: 18px;
}
.stroke-primary {
  stroke: var(--dark-brown);
}

.content-card select option:hover {
  background-color: #734116 !important;
}
.content-card select {
  color: #adadac;
}

@media (min-width: 550px) and (max-width: 639px) {
  .business-container {
    width: 80% !important;
  }
}
@media (max-width: 639px) {
  .business-container {
    min-height: 100vh !important;
  }
}

@media (min-width: 639px) and (max-width: 1100px) {
  .business-container {
    width: 50% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1350px) {
  .business-container {
    width: 50% !important;
  }
}

@media (max-width: 540px) {
  .business-qr-container {
    padding: 30px;
  }
  .modal-container {
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

body .rdt_Pagination select {
  background-color: #fff !important;
}

.category-item:hover {
  background-color: #f6eee3 !important;
}
[data-theme="dark"] {
  .text-secondary {
    color: var(--primary-text-dark);
  }
  .hover\:text-secondary:hover {
    --tw-text-opacity: 1;
    color: var(--primary-text-dark);
  }
  .text-secondary {
    color: var(--primary-text-dark);
  }
  .business-container {
    background-color: var(--background-dark);
    color: var(--background-dark);
  }
  .card-bg {
    color: var(--background-dark);
  }
  .modal-container {
    background-color: var(--background-dark);
  }
  .stroke-primary {
    stroke: var(--primary-text-dark);
  }
  body .rdt_Pagination select {
    background-color: var(--background-dark) !important;
  }
  .text-brown {
    color: var(--primary-text-dark) !important;
  }
  .btn-secondary,
  .content-card select option {
    color: black;
  }
  .btn-primary {
    color: #fff;
    border: 1px solid var(--primary-text-dark);
  }
  .content-card {
    background-color: #24282e;
    color: #fff;
  }
  .content-card input,
  .content-card select,
  .content-card textarea {
    background-color: transparent;
  }
  .content-card select {
    border: 1px solid var(--primary-text-dark) !important;
  }
  .content-card select:active {
    border: 1px solid var(--primary-text-dark) !important;
  }
  .bn-button {
    color: black;
  }
  .bg-secondary {
    background-color: var(--primary-text-dark);
    color: black;
  }
  body .rdt_Table,
  body .rdt_TableHeadRow,
  body .rdt_TableRow,
  body .rdt_ExpanderRow {
    background-color: transparent;
    color: #fff;
  }
  .ejfNUe {
    background-color: transparent;
    color: #fff;
  }

  .content-card select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #24282e;
    color: #fff;
  }

  .content-card select option {
    background-color: #24282e;
    color: #fff;
  }
  .content-card select option:hover {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #24282e;
  }
}
